.container{
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img{
    height: 9rem;
    width: 32rem;
}
.name-sign{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.content h2{
    max-width: 30rem;
    display: flex;
    align-items: center;
    text-align: center;
}